// app.less
@import './base.less';

div.app {
    display: flex;
    width: 100vw; height: 100vh;
    div.app-user-name-input-wrapper {
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: silver;
        margin: 20px;
        border-radius: 10px;
        box-shadow: inset -10px -10px 50px 0px dimgray;
        div.app-user-name-input {
            text-align: center;
            div.app-user-name-input-description {
                font-size: 3vw;
                color: dimgray;
            }
            input.app-user-name-input {
                margin-top: 0.2em;
                border-radius: 0px;
                border-top: none;
                border-bottom: 2px solid gray;
                border-left: none;
                border-right: none;
                background-color: transparent;
                font-size: 3.5vw;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    div.info {
        flex: none;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #d5d5d5;
        width: 200px;
        div.user-wrapper {
            flex: none;
        }
        div.chatroom-users-wrapper {
            flex: auto;
            display: flex;
            flex-direction: column;
        }
    }
    div.chatroom {
        flex: auto;
        display: flex;
        flex-direction: column;
        div.messages-wrapper {
            flex: auto;
            overflow: auto;
        }
        div.message-input-wrapper {
            flex: none;
        }
    }
}

@media (max-width: 767px) {
    div.app {
    }
}

