// chatroom-users.less
@import './base.less';

div.chatroom-users {
    flex: auto;
    margin: 0px 8px 8px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: auto;
    div.chatroom-user {
        display: flex;
        padding: 5px;
        &.chatroom-user-odd {
            background-color: #f5f5f5;
        }
        div.chatroom-user-name {
            flex: auto;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        div.chatroom-user-online {
            flex: none;
            margin-left: 5px;
            font-weight: 900;
            color: limegreen;
        }
        div.chatroom-user-lastOnline {
            flex: none;
            margin-left: 5px;
            line-height: 2em;
            font-style: oblique;
            font-size: 0.5em;
            font-weight: 900;
            color: gray;
        }
    }
    div.mock-user {
        padding-top: 1em;
        text-align: center;
    }
}

@media (max-width: 767px) {
    div.chatroom-users { flex: none; }
}

