// message-input.less
@import './base.less';

div.message-input {
    position: relative;
    div.message-input-placeholder {
        position: absolute;
        margin: 0px 8px;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 0.8em 0.5em 0.8em 1em;
        color: #d0d0d0;
        font-weight: 300;
        letter-spacing: 1px;
        z-index: -1;
    }
    p.message-input-contenteditable {
        margin: 8px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.8em 0.5em 0.8em 1em;
        &:focus {
            box-shadow: 0px 0px 2px 1px skyblue;
            outline: none;
        }
    }
    div.setup-user-name-message {
        background-color: whitesmoke;
        margin: 0.5em 0.5em 0.5em 1em;
        padding: 0.5em;
        color: dimgray;
    }
}

@media (max-width: 767px) {
    div.message-input {
    }
}

